
body {
    background: linear-gradient(135deg, #6d5bba, #8d58bf, #de67a3, #f58477);
}

.card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    background: #fff;
}

.card .btn-primary {
    background-color: #6d5bba;
    border-color: #6d5bba;
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px;
}

.card .btn-primary:hover {
    background-color: #58489e;
    border-color: #58489e;
}

.card .btn-secondary {
    background-color: #de67a3;
    border-color: #de67a3;
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px;
}

.card .btn-secondary:hover {
    background-color: #bf4a89;
    border-color: #bf4a89;
}




